.cards-flex-container,
.cards-container {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 300px;
}

.cards-container {
  border: 1px solid #000;
  background-color: lightblue;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}
h1::after {
  content: ' -- Desktop --';
}
.card {
  padding: 15px;
  font-size: 25px;
  background-color: palegreen;
  border: 1px solid lightcoral;
}

.cards-flex-container {
  margin-top: 50px;
  display: flex;
  gap: 15px;
  border: 1px solid #000;
  background-color: lightgoldenrodyellow;
  flex-wrap: wrap;
}
.cards-flex-container > .card {
  /* flex: 1 1 30%; */
  flex: 1 1 320px;
  /* width: 180px; */
}
h1 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 50px;
}

/* prisitaikantis dizainas ================================ */
@media screen and (max-width: 768px) {
  /* taisykles parasytos cia isigalios nuo 0 iki 768px */
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
  h1::after {
    content: ' -- Tablet --';
  }
  .cards-flex-container > .card {
    /* flex: 1 1 47%; */
  }
  h1 {
    font-size: 35px;
    margin-bottom: 35px;
  }
}

/* mobiliems 375px */

@media screen and (max-width: 375px) {
  /* taisykles parasytos cia isigalios nuo 0 iki 375px */
  .cards-container {
    grid-template-columns: 1fr;
  }
  h1::after {
    content: ' -- Mobile --';
  }
  .cards-flex-container {
    flex-direction: column;
  }
  .cards-flex-container > .card {
    /* flex: 1 1 100%; */
  }
  h1 {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
